
<% @page_title= "Edit Admin User #{@admin_user.name}"%>


<%= link_to("<< Back to list", {:action => 'list'}, :class => 'back-link') %>

<div class="admin_user edit">

	<h2> Update USNM.ORG Team Member Info</h2>
	
	<%= form_for(:admin_user, :url=>{:action=>'update', :id=>@admin_user.id}) do |f| %>
		
		<%# =render(:partial=>"form", :locals=> {:f=>f} ) %>
		
		<%= render(:partial=>"admin_users/form", :locals=>{:f => f} ) %>
		<% #specified that f is the local variable in the "new: template %>
		<% #that corresponds to the partial template variable f in the format of :f  %>
		<% # when we render partial, the convention is that we dont have underscore "_" %>
		
		
		<div class="form-buttons">
		
			<%= submit_tag("Update Team Member Info") %>
		</div>
	
	<% end %>
	
</div> 